/* style sheet for laughology site*/

body 	{background-image:url('Images/Laughology_background.jpg');background-size:100%;padding:0;font-family:verdana;margin:5px;color:white;}

/*navigation banner*/
.banner {padding-bottom:28px;background-color:rgb(145,156,177);color:rgb(250,255,232);}
.banner2	{background-color:rgb(145,156,177);color:rgb(250,255,232);}
.topnav		{background-color: rgba(300,300,300,.75);width:100%;}
.topnav a	{text-align:center;padding:24px;color:black;text-decoration:none;font-size:120%;}
.topnav a:hover {background-color:white; color:royalblue;padding: 4px 24px;}
